language: node_js
node_js:
- 4
- 5
- 6

notifications:
  email: false
  webhooks:
    urls:
    - https://webhooks.gitter.im/e/54f8a1e753f859f5ca1a
    on_start: never
    on_failure: change

deploy:
  provider: npm
  email: hello@trailsjs.io
  api_key:
    secure: PaMy3qVCIhWz5kSF6LELBzfBurZLgPWZ7aaHoqED0qD2YQz3NQNrP7eiHh6pwqiwof9o5xvp5Pdo5mh2HnqgQYirkuhva1YB7fHHEAaGO+9FPD71FZA8Dv/JdO+jeE6r6b6bT+y7eLnRE2NV4xtRqHYRghP8ZaaEi91wiQCNibEUcSrPjV+Y6qNAjWkazYU4XavjhGJA5nXVt+gYU2E92Zfs3naBurUDoih8Kk8FXKCPUVAf/1/UsW3heyTrrjJTUUmxeS1TlgDKs43gAJx5aFIcMGlzWB3+uiQ+mzdO+3z4BmUkBv6D5Dv+d+y4Gl2xcKYfKQmJOY1eYxlDkJGgcpst58YKz74+rhIlX7Uxbag4gQCjkf9mwNVNsanDAdfCSZ60ouSQ+hVrUtssDGt/k4D29Xr6NU9GwKXV2hgQoyl+J0PaxkB3S/6DeHLw20Se+zrQANTKJClJ+bOThd9Gv2tiZdn/KX5yqZRBNHpKTJP4fVheO4oD/klRv6FevVmQurrcnpMS+tF1uBKJF9u6fwuT6RvuZUfiFqGvsP3nH93nxlt8aoSnaT4o+QBlr86eWIgbWB0GRauIt1hI1z9dapVdM5gnixGPs+LrqkNKipzs1qj6FnRlo0jKsdz1ve4k8fUiOMSJX3HhIGHl/uLCJzeBhfn93JBoTju8ueyQHDQ=
  on:
    tags: true
    repo: trailsjs/trailpack-core
    node: 6
